html {
  font-family: sans-serif;
  font-size: 120%;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

header[role=banner],
nav[role=navigation],
main[role=main],
footer[role=contentinfo] {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 1rem;
  text-align: left;
}

.logo {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  max-width: 5rem;
}

header[role=banner] h1 {
  margin-top: 0;
  padding-top: 0;
}

nav[role=navigation] a {
  display: inline-block;
  margin: 0 0.5rem 0 0;
}

footer[role=contentinfo] {
  border-top: 1px solid black;
  margin-bottom: 3rem;
  margin-top: 2rem;
  padding-top: 0.5rem;
  text-align: right;
}

footer[role=contentinfo] a[href] {
  margin-left: 0.5ex;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

blockquote {
  border: 2px dashed black;
  margin: 1rem;
  padding: 1rem;
}

.success, .danger, .warning, .info {
  border-radius: 0.25rem;
  padding: 0.8rem;
}

.success {
  background-color: #28a745;
}

.success, .success a[href] {
  color: #fff;
}

.danger {
  background-color: #dc3545;
}

.danger, .danger a[href] {
  color: #fff;
}

.warning {
  background-color: #ffc107;
}

.warning, .warning a[href] {
  color: #343a40;
}

.info {
  background-color: #17a2b8;
}

.info, .info a[href] {
  color: white;
}

aside {
  margin: 0.8rem 0;
}

table, th, td {
  vertical-align: top;
}

table td, table th {
  padding: 0.5rem;
}

td ul, td ol, td dl {
  margin: 0;
}

.twoColumn {
  column-count: 2;
}
