html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 1rem;
  text-align: left;
}

footer[role=contentinfo] {
  text-align: right;
  margin-bottom: 3rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

blockquote {
  border: 2px dashed black;
  margin: 1rem;
  padding: 1rem;
}

.success, .danger, .warning, .info {
  border-radius: 0.25rem;
  padding: 0.8rem;
}

.success {
  background-color: #28a745;
}

.success, .success a[href] {
  color: #fff;
}

.danger {
  background-color: #dc3545;
}

.danger, .danger a[href] {
  color: #fff;
}

.warning {
  background-color: #ffc107;
}

.warning, .warning a[href] {
  color: #343a40;
}

.info {
  background-color: #17a2b8;
}

.info, .info a[href] {
  color: white;
}

aside {
  margin: 0.8rem 0;
}

table {
  vertical-align: top;
}

table td, table th {
  padding: 0.5rem;
}

td ul, td ol, td dl {
  margin: 0;
}
