<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Stonecutters</title>
  </head>
  <body>
    <header role=banner>
      <h1>Stonecutters</h1>
    </header>
    <main role=main>
      <ul>
        <% sections.forEach(identifier => { %>
        <li><a href=<%= identifier %>><%= identifier %></a></li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
