<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Stonecutters</title>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <main role=main>
      <ul>
        <% sections.forEach(identifier => { %>
        <li><a href=<%= identifier %>><%= identifier %></a></li>
        <% }) %>
      </ul>
    </main>
    <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
