<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= identifier %></title>
  </head>
  <body>
    <header role=banner>
      <h1><%= identifier %></h1>
    </header>
    <main role=main>
      <ol>
        <% Object.keys(editions).forEach(edition => { %>
        <li><%= edition %></li>
        <% }) %>
      </ol>
    </main>
  </body>
</html>
