<%_ if (version === latest) { _%>
<aside class=info>
  This is the latest version of this clause.
  <%_ if (!onlyVersion) { _%>
    <a href=/<%= identifier %>>Previous versions</a> remain available.
  <%_ } _%>
</aside>
<%_ } else { _%>
<aside class=warning>A <a href=/<%= identifier %>/<%= latest %>>newer version</a> of this clause is available.</aside>
<%_ } _%>
<blockquote id=terms class=terms><%- termsHTML %></blockquote>
<aside class=info>Documents incorporating this clause by reference incorporate only the above-quoted terms.</aside>
